body{
    background-color: lightgrey;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;;
  }
#FormDetailsContainer{
    background-color: white;
    min-height:20vh;
    width:50vw;
    margin-left:25vw;
    border:1.5px solid black;
    border-top:4px solid black;
    border-radius:10px;
    margin-top:10px;
    padding:5px;
    box-sizing:border-box;
}
#FormHeaderContainer{
    height:20vh;
    width:50vw;
    background-size:50vw 20vh;
    border:2px solid black;
    border-radius:10px;
    box-sizing:border-box;
    margin-left:25vw;
    margin-top:2vh;
}
#LongAnswerContainer{

    background-color:white;
    min-height:13vh;
    width:50vw;
    margin-left:25vw;
    border:1.5px solid black;
    border-top:1.5px solid black;
    border-radius:10px;
    margin-top:10px;
    padding:5px;
    box-sizing:border-box;
}
#ShortAnswerContainer{
    background-color:white;
    min-height:13vh;
    width:50vw;
    margin-left:25vw;
    border:1.5px solid black;
    border-top:1.5px solid black;
    border-radius:10px;
    margin-top:10px;
    padding:5px;
    box-sizing:border-box;
}
#MultipleCorrectContainer{

    background-color:white;
    min-height:13vh;
    width:50vw;
    margin-left:25vw;
    border:1.5px solid black;
    border-top:1.5px solid black;
    border-radius:10px;
    margin-top:10px;
    padding:5px;
    box-sizing:border-box;

}

#SingleCorrectContainer{

    background-color:white;
    min-height:13vh;
    width:50vw;
    margin-left:25vw;
    border:1.5px solid black;
    border-top:1.5px solid black;
    border-radius:10px;
    margin-top:10px;
    padding:5px;
    box-sizing:border-box;

}

#SubHeaderContainer{

    background-color:white;
    min-height:5vh;
    width:50vw;
    margin-left:25vw;
    border:1.5px solid black;
    border-top:1.5px solid black;
    border-radius:10px;
    margin-top:10px;
    padding:5px;
    box-sizing:border-box;

}
#SubmitContainer{
    margin-left:25vw;
    margin-top:10px;
}
#Question{
    font-size:1.4vw;
    margin:3px;    
}
#isRequired{
    color:"red";
    font-size:"1.2vw";
}
#QuestionDescription{
    font-size:.8vw;
    margin:2px;
}
